.card:hover{
    background-color: black !important;
    color: white !important;
    transition: 0.7s;
    transform: scale(0.9);
}

.odd:hover{
    background-color: gray !important;
    color: white !important;
    transition: 0.5s;
    transform: scale(0.9);
}

.cardButton:hover{
    background-color: white !important;
    color: white !important;
    transition: 0.7s;
    transform: scale(0.9);
}

.invisibleButton{
    background: transparent;
    border: none !important;
}

.formsInput{
    font-weight: bold;
    margin: 0.1rem;
}

.cardProj:hover{
    background-color: white !important;
    color: black !important;
    transition: 0.7s;
    transform: scale(0.9);
}